header {
    background-color: lightblue;
  }

footer {
    background-color: lightblue;
  }
  
#table1 {
    background-color: lightblue;
  }

#table2 {
    background-color: red;
  }

#table3 {
    background-color: burlywood;
  }

#table4 {
    background-color: aquamarine;
  }

#table5 {
    background-color: pink;
  }

#table6 {
    background-color: lightgreen;
  }

#table7 {
    background-color: lightcoral;
  }

#table8 {
    background-color: lightgray;
  }

#table9 {
    background-color: mediumpurple;
  }

#table10 {
    background-color: plum;
  }

#table11 {
    background-color: aqua;
  }

#table12 {
    background-color: azure;
  }

#table13 {
    background-color: sandybrown;
  }

#table14 {
    background-color: silver;
  }

#table15 {
    background-color: cornsilk;
  }

#table16 {
    background-color: orange;
  }  